<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="txtPath" value="student.txt"/>
    <add key="jsonPath" value="student.json"/>
    <add key="xmlPath" value="student.xml"/>
    <add key="repositoryConfigurationPath" value="RepositoryConfiguration.xml"/>
  </appSettings>
</configuration>